

@media only screen and (min-width: 768px) {
  header {
    height: 30rem;
  }
  .container {
    max-width: 960px;
  }
  .banner {
    margin-top: 10rem;
    margin-right: -2rem;
  }
  h1 {
    font-size: 2rem;
    padding: 1.5rem 5rem;
  }
  .shortmenu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 22rem;
  }
  nav {
    position: fixed;
  }
  .container {
    width: 100%;
  }
  .banner {
    margin-top: 8rem;
    margin-right: 2rem;
  }
  h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
  .menu {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .business {
    justify-content: flex-start;
    padding-left: 10%;
  }
  .info-title {
    width: 10rem;
  }
  .info {
    max-width: 35%;
    margin-bottom: 5rem;
  }
  .info-text {
    padding-top: 1rem;
  }

  #appt {
    margin-left: 5%
  }
}

@media only screen and (max-width: 600px) {
  .business {
    flex-direction: column;
  }
  .info {
    margin-bottom: 4rem;
  }
  .info-text {
    font-size: 0.77rem;
    padding: 1rem 0.5rem 0 0.5rem;
  }
}

@media only screen and (min-width: 500px) {
  header {
    background-position: center;
  }
  .benefit {
    max-height: 8rem;
    max-width: 5rem;
    margin: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
  .logo span {
    display: none;
  }
  h1 {
    font-size: 1rem;
  }
  .banner {
    margin-top: 12rem;
    margin-right: 0;
    width: 100%;
  }
  .benefits {
    flex-direction: column;
    align-items: center;
  }
  .benefits.container {
    margin: 3.77rem 0;
  }
  .benefit span {
    font-size: 0.77rem;
  }
  .benefit {
    margin: auto;
  }
  #fitting, #delivery {
    padding-top: 1.54rem;
  }
  footer .logo {
    flex-direction: column;

  }
}
