@media only screen and (min-width: 768px) {
  header {
    height: 30rem;
  }
  .banner {
    margin-top: 10rem;
    margin-right: -2rem;
    padding: 1.5rem 5rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 22rem;
    }
  nav {
    position: fixed;
  }
  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 400px) {
  header {
    height: 17rem;
  }

}
