html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  background-image: url(../media/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .logo {
  padding: 1rem 1rem 1rem 2rem;
}

nav, .info-title {
  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

h1 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hero {
  justify-content: flex-end;
}

.hero, .benefits, .benefit, .business {
  display: flex;
}

nav ul {
  display: flex;
}

nav li {
  padding: 1rem 2rem;
}

.banner {
  display: inline-block;
  background-color: white;
  line-height: 1.2;

}

.benefits {
  justify-content: center;
}

.benefit {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 8rem;
  max-width: 5rem;
  margin: 3rem;
  text-align: center;
}

.benefit img {
  margin-bottom: 1rem;
}

#exam img {
  width: 3.5rem;
}

#fitting img {
  width: 5rem;
}

#delivery img {
  width: 5rem;
}

.business {
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.info-title {
  width: 10rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.info {
  max-width: 35%;
}

#appt {
  margin-left: 5%
}

footer div {
  background-color: azure;
}

footer .logo {
  padding: 4rem 1rem 4rem 4rem;
}
